extends layout
block content
    div.container(ng-app='geniuses',ng-controller='LoginController')
      div.jumbotron
        div.page-header(style={color: 'blue'})
            h3  {{ welcomemessage }}
        form.login-form.form-horizontal(role='form',name="form.loginForm")
            div.form-group(style={color: 'red'})
                .col-sm-8
                    | {{ errorMsg }}
            div.form-group
                .row
                label.col-sm-2 Email
                div.col-sm-4
                    input.form-control(placeholder='Email',required='true',name='email',type="email",id="email",ng-model="email")
                    span(style='color:red', ng-show='form.loginForm.email.$dirty && form.loginForm.email.$invalid')
                    span(ng-show='form.loginForm.email.$error.required') Email is required.
                    span(ng-show='form.loginForm.email.$error.email') Invalid email address.
            div.form-group
                .row
            div.form-group
                .row
                label.col-sm-2 Password
                div.col-sm-4
                    input.form-control(placeholder='password',required=true,name='password',type='password',id="password",ng-model="password")
                    span(style='color:red', ng-show='form.loginForm.password.$dirty')
                    span(ng-show='form.loginForm.password.$error.required') Password is required.
            div.form-group
                .row
            div.form-group
                div.col-sm-offset-4.col-sm-8
                    button.login.btn.btn-primary(ng-click='login()',ng-disabled="form.loginForm.email.$dirty && form.loginForm.email.$invalid || form.loginForm.password.$dirty && form.loginForm.password.$error.required" ) Login
            div.col-sm-8
                a(href="/") Return to home page			
block append scripts
    script(src='js/LoginController.js')